:root {
    --primary-color: #05E4BE;
    --secondary-color: #0C3458;
    --lilla-color: #4A2D7D;
    --white: #fff;
}

.bg-primary-color {
    background-color: var(--primary-color) !important;
}

.bg-secondary-color {
    background-color: var(--secondary-color) !important;
}

.bg-lilla-color {
    background-color: var(--lilla-color) !important;
}

.bg-white-color {
    background-color: var(--white) !important;
}

.txt-primary-color {
    color: var(--primary-color) !important;
}

.text-secondary-color {
    color: var(--secondary-color) !important;
}

.text-lilla-color {
    color: var(--lilla-color) !important;
}

.text-white-color {
    color: var(--white) !important;
}

.navbar {
    background-color: var(--primary-color) !important;
}

.navbar-expand-lg {
    flex-wrap: wrap;
    justify-content: center;
}

.nav-link{
    border-bottom: 3px solid transparent;
}
.nav-link:hover{
    border-bottom: 3px solid var(--secondary-color);
}
.navbar-nav .active-link {
    font-weight: bold;
}

.navbar-toggler {
    color: var(--secondary-color) !important;
    border-radius: 0px !important;
}

section#message {
    background-image: url('images/image-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section#contact-info {
    padding: 20px !important;
}

#btn-primary-color {
    text-decoration: none !important;
    margin: 10px;
    padding: 8px 20px;
    background-color: var(--primary-color) !important;
    color: var(--secondary-color) !important;
    border-radius: 30px !important;
}

#btn-primary-color:hover {
    background-color: var(--secondary-color) !important;
    color: var(--white) !important;
}

section#consulation {
    padding: 24px;
}

.times-list {
    margin: 10px;
    padding: 20px !important;
    background-color: var(--secondary-color) !important;
    color: var(--white) !important;
    border-radius: 10px !important;
    width: 100%;
}

@media only screen and (min-width: 1200px) {
    .times-list {
        width: 350px;
    }
}

.times-list ul {
    list-style: none;
}

.times-list ul li {
    display: flex;
    justify-content: space-between;
}

section#doctors {
    padding: 24px;
    margin: 10px 0px;
}

section#doctors img {
    max-width: 350px;
}

ul#doctors-list {
    list-style: none;
}

ul#doctors-list li {
    margin: 10px;
}

footer section {
    padding: 25px;
}